.nav-item.active {
    background-color: #2563eb !important;
    color: #ffffff !important;
    border-radius: 8px !important;
    position: relative !important;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25) !important;
}

.nav-item.active::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 65%;
    width: 3px;
    background-color: #ffffff;
    border-radius: 4px;
}

.nav-item.active .ni {
    background-color: transparent !important;
    color: #ffffff !important;
}

.nav-item.active .nl {
    color: #ffffff !important;
}
.sidebar.collapsed .nav-item.active::after {
    display: none;
}

.nav-item:hover {
    background-color: #ffffff  !important;
    border-radius: 8px !important;
}