.main {
  margin-left: 260px;
  padding: 20px;
}

.header {
  height: 70px;
  background: white;
  border-radius: 12px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: var(--card-shadow);
}