.icon-box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50px; /* 0 for perfect square */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
}