.icon-box {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50px;
  /* 0 for perfect square */
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fafb;
}


.unauth-timeline {
  position: relative;
  padding-left: 22px;
}

.unauth-timeline::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #dee2e6;
}

.unauth-timeline-item {
  position: relative;
  margin-bottom: 25px;
}

.unauth-timeline-item::before {
  content: "";
  position: absolute;
  left: -24px;
  top: 6px;
  width: 16px;
  height: 16px;
  background: #6c757d;
  border-radius: 50%;
}

.unauth-timeline-item.active::before {
  background: #fd0d0d;
}

.sv-in:disabled {
  background-color: #e9ecef !important;
  opacity: 1 !important;
  color: #495057 !important;
  cursor: not-allowed !important;
}

.am-type-btn:disabled {
  opacity: 1 !important;
  cursor: not-allowed !important;
}

.sa-table-wrap {
  overflow-x: auto !important;
}

.tab-count {
  min-width: 22px;
  height: 22px;
  padding: 0 8px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-count.yellow {
  background: #ffc107;
  color: #000;
}

.tab-count.red {
  background: #ff3b30;
  color: #fff;
}

.tab-count.blue {
  background: #0d6efd;
  color: #fff;
}

.lease-date {
  font-weight: 500;
  color: #222;
}

.lease-normal {
  color: #8b8b8b;
  font-size: 13px;
}

.lease-expired {
  color: #ff3b30;
  font-size: 13px;
  font-weight: 500;
}